<div class="container">
	<div class="row justify-content-end">
		<div class="btn-group btn-group-toggle mb-3" ngbRadioGroup name="radioBasic" [(ngModel)]="boardService.degreeUnits">
			<label ngbButtonLabel class="btn-outline-info btn-sm">
				<input ngbButton type="radio" value="F"> Fahrenheit
			</label>
			<label ngbButtonLabel class="btn-outline-info btn-sm">
				<input ngbButton type="radio" value="C"> Celcius
			</label>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="row">
			<div *ngFor="let board of boards" class="col-md-4 mb-3">
				<div class="card board">
					<div class="card-body">
						<div class="row">
							<div class="col-7 text-left">
								<h4 class="card-title">{{board.city}}</h4>
								<p class="card-text">{{board.country}}</p>
								<br>
								<span class="last-update"><strong>Last update:</strong> {{ board.lastCheck | date : 'dd/MM/yyyy HH:mm' }}</span>
							</div>
							<div class="col-5">
								<div class="temp-detail text-right">
									<span class="temp font-weight-bold" *ngIf="board.temperature != null">
										{{ this.boardService.toggleTempByDegreeUnits(board.temperature, this.boardService.degreeUnits) }}
									</span>
									<p>{{board.description}}</p>
									<img src="{{board.iconPath}}" class="img-fluid" alt="{{board.description}}"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>